<div class="new-product-page">
    <nav-header-component>
        
    </nav-header-component>
    <div class="content-container">
        <button
            (click)="toggleDiscount()"
        >
            Add new discount
        </button>
        <button
            (click)="toggleProduct()"
        >
            Add new product
        </button>
        <button
            (click)="toggleTag()"
        >
            Add new tag
        </button>
        <div class="forms-container">
            <form class="admin-form" *ngIf="discountFormVisible">
                <h2>Name</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newDiscountData.Name"
                        placeholder="Discount Name"
                        type="text"
                        name="Name"
                        required
                    >
                </mat-form-field><br>
                <h2>Amount</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newDiscountData.Amount"
                        placeholder="Discount Amount"
                        type="number"
                        name="Amount"
                        required
                    >
                </mat-form-field><br>
                <h2>Description</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newDiscountData.Description"
                        placeholder="Discount Description"
                        type="text"
                        name="Description"
                        required
                    >
                </mat-form-field><br>
                <h2>Expires On</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newDiscountData.ExpiresOn"
                        placeholder="Discount Expires On"
                        type="date"
                        name="ExpiresOn"
                        required
                    >
                </mat-form-field><br>
                <h2>Discount Type</h2>
                <select
                    [(ngModel)]="newDiscountData.Type"
                    name="Type"
                    
                >
                    <option value="Dollar">Dollar</option>
                    <option value="Percent">Percent</option>
                </select>
                <br>
                <button
                    (click)="submitNewDiscount()"
                >
                    Submit new discount
                </button>
            </form>
            <form class="admin-form" *ngIf="productFormVisible">
                <h2>Name</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newProductData.Name"
                        placeholder="Product Name"
                        type="text"
                        name="Name"
                        required
                    >
                </mat-form-field><br>
                <h2>Price</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newProductData.Price"
                        placeholder="Product Price"
                        type="text"
                        name="Price"
                        required
                    >
                </mat-form-field><br>
                <h2>Upcharge Percentage</h2>
                <p>Enter the profit margin number (no % sign)</p>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newProductData.Upcharge"
                        placeholder="Product Upcharge"
                        type="text"
                        name="Upcharge"
                    >
                </mat-form-field><br>
                <h2>Description</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newProductData.Description"
                        placeholder="Product Description"
                        type="text"
                        name="Description"
                        required
                    >
                </mat-form-field><br>
                <h2>Stock</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newProductData.Stock"
                        placeholder="Product Stock"
                        type="number"
                        name="Stock"
                        required
                    >
                </mat-form-field><br>
                <h2>Link to image</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newProductData.Image"
                        placeholder="Link to image"
                        type="text"
                        name="Image"
                        required
                    >
                </mat-form-field><br>
                <h2>Add tags</h2>
                <div *ngFor="let tag of allTags">
                    <label>
                        <input 
                            type="checkbox"
                            [checked]="selectedTags[tag.TagID]"
                            (change)="toggleTagSelection(tag.TagID)">
                        {{ tag.Tag }}
                    </label>
                </div><br>
                <h2>Add supplies</h2>
                <div *ngFor="let supply of allSupplies">
                    <label>
                        <input 
                            type="checkbox"
                            [checked]="selectedSupplies[supply.SupplyID]"
                            (change)="toggleSupplySelection(supply.SupplyID)">
                        {{ supply.Name }}
                    </label>
                    <div *ngIf="selectedSupplies[supply.SupplyID]">
                        <label>
                            Amount:
                            <input 
                                type="number"
                                name="supplyDetailData[supply.SupplyID].Amount"
                                [(ngModel)]="supplyDetailData[supply.SupplyID].Amount"
[ngModelOptions]="{standalone: true}"
                            >
                        </label>
                        <label>
                            UOM:
                            <select
                                [(ngModel)]="supplyDetailData[supply.SupplyID].Measurement"
                                [ngModelOptions]="{standalone: true}"
                            >
                                <option 
                                    *ngFor="let unit of measurementUnits"
                                    [value]="unit"
                                    
                                >
                                    {{unit}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <button
                    (click)="submitNewProduct()"
                >
                    Submit new product
                </button>
            </form>
            <form class="admin-form" *ngIf="tagFormVisible">
                <h2>Name</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newSupplyData.Name"
                        placeholder="Supply Name"
                        type="text"
                        name="Name"
                        required
                    >
                </mat-form-field><br>
                <h2>Description</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newSupplyData.Description"
                        placeholder="Supply Description"
                        type="text"
                        name="Description"
                        required
                    >
                </mat-form-field><br>
                <h2>Quantity</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newSupplyData.Quantity"
                        placeholder="Supply Quantity"
                        type="text"
                        name="Quantity"
                        required
                    >
                </mat-form-field>
    
                    <select
                        [(ngModel)]="newSupplyData.Measurement"
                        name="Quantity"
                        required
                    >
                        <option value="grams">Grams</option>
                        <option value="oz">Ounce</option>
                        <option value="ml">Milliliter</option>
                        <option value="piece">Pieces</option>
                    </select>
                <br>
                <h2>Cost</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newSupplyData.Cost"
                        placeholder="Supply Cost"
                        type="text"
                        name="Cost"
                        required
                    >
                </mat-form-field><br>
                <h2>Supplier</h2>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="newSupplyData.Supplier"
                        placeholder="Supply Supplier"
                        type="text"
                        name="Supplier"
                        required
                    >
                </mat-form-field><br>
                <button
                    (click)="submitNewSupply()"
                >
                    Submit new supply
                </button>
            </form>
        </div>
    </div>
    </div>