.write-reply {
    padding: 20px;
}

.user-info-container {
    display: flex;
    flex-direction: row;

    img {
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }
}
.comment-container {
    margin-bottom: 10px;
    padding: 20px;
}

.reaction-buttons {
    position: relative;
}

.hover-reactions {
    position: absolute;
    top: -40px; 
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    display: none;
}

.recent-reactions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    line-height: 20px;
    flex-wrap: wrap;
}

.reply-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px; 
}

.reaction-username {
    margin: 0;
    margin-right: 4px;
    font-size: 14px; 
}

.reaction-buttons:hover .hover-reactions {
    display: flex;
}

.ban-message {
    p {
        font-weight: bolder;
        color: red;
    }
}