.write-reply {
    padding: 20px;
}

/*
Modal
*/
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.user-info-container {
    display: flex;
    flex-direction: row;

    img {
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }
}
.comment-container {
    margin-bottom: 10px;
    padding: 20px;
}

.reaction-buttons {
    position: relative;
}

.hover-reactions {
    position: absolute;
    top: -40px; 
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    display: none;
}

.recent-reactions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    line-height: 20px;
    flex-wrap: wrap;
}

.reply-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px; 
}

.reaction-username {
    margin: 0;
    margin-right: 4px;
    font-size: 14px; 
}

.reaction-buttons:hover .hover-reactions {
    display: flex;
}

.ban-message {
    p {
        font-weight: bolder;
        color: red;
    }
}