<div class="thread-replies" *ngIf="!profileView">
    <div *ngFor="let reply of replies" class="thread-content">
        <div class="comment-container">
            <div class="user-info-container" id="{{ reply.ReplyNumber }}">
                <img src="{{ reply.User.ProfileImage }}">
                <h3 (click)="openProfile(reply.User._id)">{{ reply.Username }}</h3>
                <p>#{{ reply.ReplyNumber }}</p>
            </div>
            <p class="timestamp">{{ reply.PostedAtDate }} at {{ reply.PostedAtTime }}</p>
            <div class="reply-content" [ngClass]="{ 'highlighted-post': reply.Highlighted }">
                <div style="display: flex; flex-direction: column;">
                    <p *ngIf="reply.PostBan" class="ban-message">
                        USER WAS BANNED FOR THIS POST
                    </p>
                    <p>
                        {{ reply.Content }}
                    </p>
                    <div class="recent-reactions-container">
                        <div *ngFor="let reaction of reply.MostRecentReactions">
                            <mat-icon [svgIcon]="reaction.Icon" class="reply-icon"></mat-icon>
                        </div>
                        <p *ngFor="let reaction of reply.MostRecentReactions" class="reaction-username">
                            {{ reaction.Username }},
                        </p>
                    </div>
                </div>
                <div class="highlight-options">
                    <p *ngIf="reply.Highlighted" class="highlight-arrow"> << </p>
                    <p *ngIf="isJanitor" class="highlight-button" (click)="toggleHighlight(reply._id)">Highlight</p>
                    <p *ngIf="reply.Highlighted" class="highlight-arrow"> >> </p>
                </div>
            </div>
            <div class="thread-options">
                <p *ngIf="isLoggedIn()">Reply</p>
                <p 
                    *ngIf="isLoggedIn()"
                    (click)="openReportModal(reply.Thread, reply._id)"
                >
                    Report
                </p>
                <div class="reaction-buttons" *ngIf="isLoggedIn()">
                    <mat-icon svgIcon="like_icon" class="icon like-icon"
                        (click)="reactPost(reply._id, 'Like')"
                    >
                        Like
                    </mat-icon>
                    <div class="hover-reactions">
                        <mat-icon svgIcon="like_icon" class="icon like-icon"
                            (click)="reactPost(reply._id, 'Like')"
                        >
                            Like
                        </mat-icon>
                        <mat-icon svgIcon="dislike_icon" class="icon"
                            (click)="reactPost(reply._id, 'Dislike')"
                        >
                            Dislike
                        </mat-icon>
                        <mat-icon svgIcon="useful_icon" class="icon"
                            (click)="reactPost(reply._id, 'Useful')"
                        >
                            Useful
                        </mat-icon>
                        <mat-icon svgIcon="funny_icon" class="icon"
                            (click)="reactPost(reply._id, 'Funny')"
                        >
                            Funny
                        </mat-icon>
                        <mat-icon svgIcon="dumb_icon" class="icon"
                            (click)="reactPost(reply._id, 'Dumb')"
                        >
                            Dumb
                        </mat-icon>
                    </div>
                </div>
                <p *ngIf="thread && thread?._id" (click)="openBanModal(reply.Username, thread._id, reply._id)">Ban user</p>
                <p
                    (click)="openNewThreadModal(reply._id, reply.Content)"
                >Thread</p>
            </div>
        </div>
    </div>
</div>

<div class="thread-replies" *ngIf="profileView">
    <div *ngFor="let comment of userProfileComments" class="thread-content">
        <div class="comment-container">
            <div class="user-info-container">
                <img src="{{ comment.User.ProfileImage }}">
                <h3 (click)="openProfile(comment.User._id)">{{ comment.Username }}</h3>
                <p class="timestamp">{{ comment.PostedAtDate }} at {{ comment.PostedAtTime }}</p>
            </div>
            <div class="reply-content">
                <div style="display: flex; flex-direction: column;">
                    <p>
                        {{ comment.Content }}
                    </p>
                    <div class="recent-reactions-container">
                        <div *ngFor="let reaction of comment.MostRecentReactions">
                            <mat-icon [svgIcon]="reaction.Icon" class="reply-icon"></mat-icon>
                        </div>
                        <p *ngFor="let reaction of comment.MostRecentReactions" class="reaction-username">
                            {{ reaction.Username }},
                        </p>
                    </div>
                </div>
            </div>
            <div class="thread-options">
                <div class="reaction-buttons" *ngIf="isLoggedIn()">
                    <mat-icon svgIcon="like_icon" class="icon like-icon"
                        (click)="reactPost(comment._id, 'Like')"
                    >
                        Like
                    </mat-icon>
                    <div class="hover-reactions">
                        <mat-icon svgIcon="like_icon" class="icon like-icon"
                            (click)="reactPost(comment._id, 'Like')"
                        >
                            Like
                        </mat-icon>
                        <mat-icon svgIcon="dislike_icon" class="icon"
                            (click)="reactPost(comment._id, 'Dislike')"
                        >
                            Dislike
                        </mat-icon>
                        <mat-icon svgIcon="useful_icon" class="icon"
                            (click)="reactPost(comment._id, 'Useful')"
                        >
                            Useful
                        </mat-icon>
                        <mat-icon svgIcon="funny_icon" class="icon"
                            (click)="reactPost(comment._id, 'Funny')"
                        >
                            Funny
                        </mat-icon>
                        <mat-icon svgIcon="dumb_icon" class="icon"
                            (click)="reactPost(comment._id, 'Dumb')"
                        >
                            Dumb
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="modalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">x</span>

        <div *ngIf="modalType == 'report-user'">
            <h2>Report post</h2>
            <div class="ban-form">
                <form>
                    <h4>Reason:</h4>
                    <input [(ngModel)]="reportData.ReportReason" name="ReportReason" type="text" required>
                    <button (click)="reportPost(reportData)">Report</button>
                </form>
            </div>
        </div>

        <div *ngIf="modalType == 'ban-user'">
            <h2>Ban user</h2>
            <div class="ban-form">
                <form>
                    <h4>Reason:</h4>
                    <input [(ngModel)]="banData.Reason" name="Reason" type="text" required>
                    <h4>Expires on</h4>
                    <input [(ngModel)]="banData.ExpiresOn" name="ExpiresOn" type="date" required>
                    <button (click)="banUser(banData)">Ban user</button>
                </form>
            </div>
        </div>

        <div *ngIf="modalType == 'move-post'">
            <h2>Create new thread from post</h2>
            <div class="ban-form">
                <form>
                    <h4>New thread title:</h4>
                    <input 
                        [(ngModel)]="postData.Title"
                        name="Title"
                        type="text"
                        required
                    >
                    <button
                        (click)="moveToOwnThread(postData)"
                    >
                        Create thread
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="write-reply" *ngIf="thread">
    <div *ngIf="isLoggedIn()">
        <div class="new-reply-container">
            <h2>Reply: </h2>
            <form>
                <input [(ngModel)]="replyData.Content" name="Content" type="text" class="large-reply-box"><br>
                <button (click)="postReply()">Post</button>
            </form>
        </div>
    </div>
    <div *ngIf="!isLoggedIn()">
        <p>Log in to post a reply.</p>
    </div>
</div>

<div class="write-reply" *ngIf="profileView">
    <div *ngIf="isLoggedIn()">
        <div class="new-reply-container">
            <h2>Comment: </h2>
            <form>
                <input [(ngModel)]="commentData.Content" name="Content" type="text" class="large-reply-box"><br>
                <button (click)="postOnWall()">Post</button>
            </form>
        </div>
    </div>
</div>
