@media screen and (max-width: 800px) {
  .product-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 801px) {
  .product-info {
    grid-template-columns: 1fr 1fr;
  }
  .product-image {
    width: 400px;
    padding: 10px;
  }
}

#image-info {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}


select {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    align-items: center;
    justify-content: center;
}

.product-info {
  display: grid;
}

.related-threads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  mat-card {
    background-color: white;
    padding: 20px;
  }

  mat-card-title {
    padding: 10px;
    font-size: 30px;
  }

  mat-card-subtitle {
    padding: 10px;
  }

  mat-card-content {
    p {
      margin:10px;
      max-height: fit-content;
      padding: 10px;
    }
  } 
}

.admin-tab {
  display: none;
  padding: 10px;
}

.tab-open {
  display: block;
}


.forms-tab-container {
  justify-content: center;  
  align-items: center;
  width: 80%;
}


.admin-tabs-buttons {
  display: flex;
  width: max-content;
  border-collapse: collapse;
  height: 25px;

  p {
      margin-right: 3px;
      margin-left: 3px;
      line-height: 0%;
  }
}


