<nav-header-component>
        
</nav-header-component>
<div class="forum-main">
    <div class="forum-grid">
        <div class="forum-titles-box">
            <div>
                <h1>Threads:</h1>
                <p *ngIf="threads.length === 0">
                    No threads yet.
                </p>
                <div class="info-table">
                    <table *ngIf="threads.length > 0">
                        <tr>
                            <th>Name</th>
                            <th>Replies</th>
                            <th>OP</th>
                        </tr>
                        <tr *ngFor="let thread of threads">
                            <td
                                (click)="openThread(thread._id)"
                            >{{ thread.Title }}</td>
                            <td>{{ thread.ReplyCount }}</td>
                            <td>{{ thread.Username }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="da-rules-container">
                <h1>
                    Rules
                </h1>
                <div class="da-rules">
                    <p>
                        Don't spam
                    </p>
                    <p>
                        Stay on topic
                    </p>
                </div>
            </div>
        </div>
    
        <div *ngIf="isLoggedIn()" class="post-thread">
            <h1>Post a thread:</h1>
                <form>
                    <div class="new-post-container">
                        <div class="new-post-grid-item">
                            <h2>Title</h2>
                            <mat-form-field>
                                <input
                                    matInput
                                    [(ngModel)]="postData.Title"
                                    placeholder="Thread title"
                                    name="Title"
                                    type="text"
                                >
                            </mat-form-field>
    
                        </div>
    
                        <div class="new-post-grid-item">
                            <h2>Content</h2>
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="postData.Content"
                                placeholder="Thread content"
                                name="Content"
                                type="text"
                            >
                        </mat-form-field>
                            
                        </div>          
                        </div>

                        <div class="post-thread" *ngIf="allTags.length > 0">
                            <h2>Add tags</h2>
                        <div *ngFor="let tag of allTags">
                            <label>
                                <input 
                                    type="checkbox"
                                    [checked]="selectedTags[tag.TagID]"
                                    (change)="toggleTagSelection(tag.TagID)">
                                {{ tag.Tag }}
                            </label>
                        </div>
                     </div>
                    

                    <button 
                        (click)="postThread()"
                    >
                        Post
                    </button>
                    
                </form>

        </div>
    </div>

</div>