<div class="product-container">
    <mat-card *ngFor="let product of products" class="product-card">
        <mat-card-header>
            <h2
                (click)="openDetails(product._id, product.Name, product.Price, product.Description, product.Image, product.Sales, product.Stock, product.Upcharge, product.Supplies, product.Reviews)"
            >
                {{ product.Name }}
            </h2>
            <h4>
                ${{ product.Price }}
            </h4>
        </mat-card-header>
        <mat-card-content class="product-content">
            <img src="{{ product.Image }}" class="product-image">
            <p>Sales: {{ product.Sales }}</p>
            <p>{{ product.Stock }} in stock</p>
        </mat-card-content>
        <mat-card-actions class="product-buttons">
            <button
                class="button"
                (click)="addItemToCart(product._id)"
            >
                Add to cart
            </button>
            <button
                class="button"
                (click)="addItemToWishlist(product._id)"
            >
                Add to wishlist
            </button>
        </mat-card-actions>
    </mat-card>
</div>