<div class="login-visible" *ngIf="isVisible">
    <div class="login-backdrop"></div>
<div class="login-container">
    <div class="login-items" *ngIf="!newUser">
        <h1>
            Log In
        </h1>
        <form>
            <input
                [(ngModel)]="loginData.Username"
                placeholder="Username"
                type="text"
                name="Username"
                required
            >
            <input
                [(ngModel)]="loginData.Password"
                placeholder="Password"
                type="password"
                name="password"
                required
            >
        </form>
        <div class="login-options">
            <button
                class="button"
                (click)="loginUser()"
            >
                Log in
            </button>
            <button
                class="button"
                (click)="toggleNewUser()"
            >
                Sign Up
            </button>
        </div>
    </div>

    <div class="login-items" *ngIf="newUser">
        <h1>
            Sign Up
        </h1>
        <form id="signup-form">
            <div id="text-boxes">
                <input
                [(ngModel)]="userData.Username"
                placeholder="Username"
                type="text"
                name="Username"
                required
            >
            <input   
                [(ngModel)]="userData.Password"
                type = "password"
                placeholder="Password"
                name="Password"
                required
            >
            <input
                [(ngModel)]="userData.Email"
                type = "email"
                placeholder="Email"
                name="Email"
                required
            >
            <input
                [(ngModel)]="userData.Birthday"
                type = "date"
                placeholder="Birthday"
                name="Birthday" 
            >
            </div>
            <div>
                <h3>
                    Profile photo
                </h3>
                <div>
                    <label class="image-option" [class.selected]="selectedProfilePic === 1">
                        <input
                            type="radio"
                            value="1"
                            name="userData.defaultNum"
                            (click)="setSelectedProfilePic(1)"
                        >
                        <img src="https://ts-demo-bucket-img.s3.amazonaws.com/profile-pics/default-profile-pic-1.png">
                    </label>
                    <label class="image-option" [class.selected]="selectedProfilePic === 2">
                        <input
                            type="radio"
                            value="2"
                            name="userData.defaultNum"
                            (click)="setSelectedProfilePic(2)"
                        >
                        <img src="https://ts-demo-bucket-img.s3.amazonaws.com/profile-pics/default-profile-pic-2.png">
                    </label>
                    <label class="image-option" [class.selected]="selectedProfilePic === 3">
                        <input
                            type="radio"
                            value="3"
                            name="userData.defaultNum"
                            (click)="setSelectedProfilePic(3)"
                        >
                        <img src="https://ts-demo-bucket-img.s3.amazonaws.com/profile-pics/default-profile-pic-3.png">
                    </label>
                </div>
                <button
                    (click)="toggleFileSelection()"
                >
                    Upload your own
                </button>
                <div *ngIf="uploadPic">
                    <p>
                        .jpg, .jpeg, or .png only
                    </p>
                    <input 
                        type="file" 
                        id="profile-pic-selection" 
                        (change)="onFileSelected($event)"
                    >
                </div>
            </div>
        </form>
        <div class="login-options">
            <button
                class="button"
                (click)="registerUser()"
            >
                Sign Up
            </button>
            <button
                class="button"
                (click)="toggleNewUser()"
            >
                Log In
            </button>
        </div>
    </div>
</div>

</div>