.has-broom {
    color: #F1D400;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.icon {
    fill: #F1D400;
}

app-post {
    margin-left: 12%;
    margin-right: 12%;
}

.profile-post-container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
}