<nav-header-component>
        
</nav-header-component>
<div class="profile-container">
    <div class="profile-grid">
        <div [ngClass]="{'current-user': currentUser?._id === user?._id}" class="profile-grid-item" id="profile-pic">
            
            <div style="display: block;">
                <img class="profile-pic" src="{{user?.ProfileImage}}">
                <button class="button" 
                    *ngIf="currentUser?._id === user?._id"
                    (click)="openNewPic()"
                >
                    New profile pic
                </button>
                <div *ngIf="newPicOpen">
                    <form (ngSubmit)="onSubmit()" #profilePicForm="ngForm">
                        <div>
                        <label for="profilePic">Upload New Profile Picture:</label>
                        <input type="file" id="profilePic" (change)="onFileSelected($event)" required>
                        </div>
                        <button type="submit" [disabled]="!selectedFile">Upload</button>
                    </form>
                    
                    <div *ngIf="uploadResponse">
                        <p>{{ uploadResponse.message }}</p>
                        <img *ngIf="uploadResponse.imageUrl" [src]="uploadResponse.imageUrl" alt="Profile Picture">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="profile-grid-item" id="account-info">
            <div class="profile-username">
                <h1 [ngClass]="{'has-broom': user?.hasBroom}">{{user?.Username}}</h1>
                <img *ngIf="user?.hasBroom" src="src/app/icons/crown.svg" class="icon">
            </div>
            <p>{{user?.Status}}</p>
            <h3>Joined on {{user?.JoinDate}}</h3>
            <p>{{user?.Bio}}</p>
        </div>
        
    </div>

    <div *ngIf="currentUser?.hasBroom">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <button
                (click)="togglePosting(user._id)"
            >
                {{ user?.canPost ? 'Ban from posting' : 'Allow to post' }}
            </button>
            <button>
                Give broom
            </button>
            <button>
                Sponsor
            </button>
        </div>
    </div>

    <div class="user-post-container">
        <div class="user-post-info">
            <h2>Posts: {{user?.Posts?.length}}</h2>
            <h2>Reaction Score: {{reactionScore}}</h2>
        </div>
    </div>

    <div class="user-tabs-container">
        <div class="user-tabs-buttons">
            <div [ngClass]="{ 'tab-selected': optionOpen == 'wall'}">
                <h3
                    (click)="openTab('wall')"
                >
                    Wall
                </h3>
            </div>
            <div [ngClass]="{ 'tab-selected': optionOpen == 'wishlist' }">
                <h3
                    (click)="openTab('wishlist')"
                >
                    Wishlist
                </h3>
            </div>
            <div [ngClass]="{ 'tab-selected': optionOpen == 'posts' }">
                <h3
                    (click)="openTab('posts')"
                >
                    Posts
                </h3>
            </div>
            <div [ngClass]="{ 'tab-selected': optionOpen == 'purchases' }">
                <div *ngIf="currentUser?._id === user?._id">
                    <h3
                        (click)="openTab('purchases')"
                    >
                        Purchases
                    </h3>
                </div>
            </div>
        </div>
        <div [ngClass]="{ 'tab-open': optionOpen == 'wall' }" class="user-tab">
            <div class="profile-post-container">
                <app-product-card [wishlistItems]="wishlistItems" [secondItemType]="'wishlist'">
    
                </app-product-card>
            </div>
        </div>
    
        <div [ngClass]="{ 'tab-open': optionOpen == 'wishlist' }" class="user-tab">
            <div class="profile-post-container">
                <app-post [userProfileComments]="profileComments" [user]="user" [profileView]="true">
        
                </app-post>
            </div>
        </div>
    
        <div [ngClass]="{ 'tab-open': optionOpen == 'posts' }" class="user-tab">
            <div class="profile-post-container">
                <app-post [replies]="posts" [user]="user">
        
                </app-post>
            </div>
        </div>

        <div [ngClass]="{ 'tab-open': optionOpen == 'purchases' }" class="user-tab">
            <div class="profile-post-container">
                <app-purchase-card [purchases]="userPurchases" [singlePurchase]="false" [profileView]="true">
        
                </app-purchase-card>
            </div>
        </div>
    </div>

    <h1 *ngIf="currentUser?._id === user?._id">
        Settings
    </h1>

    <div *ngIf="currentUser?._id === user?._id" class="user-settings">
        <div>
            <h2>
                Update bio:
            </h2>
            <form>
                <input
                    [(ngModel)]="updatedBio.newBio"
                    placeholder="New bio"
                    type="text"
                    name="newBio"
                    required
                >
            </form>
            <button
                (click)="updateBio()"
            >
                Update bio
            </button>
        </div>

        <div>
            <h2>
                Update status:
            </h2>
            <form>
                <input
                    [(ngModel)]="updatedStatus.newStatus"
                    placeholder="New status"
                    type="text"
                    name="newStatus"
                    required
                >
            </form>
            <button
                (click)="updateStatus()"
            >
                Update status
            </button>
        </div>
    </div>
</div>