<nav-header-component>
        
</nav-header-component>
<div class="profile-container">
    <div class="profile-grid">
        <div class="profile-grid-item" id="profile-pic">
            <img>
        </div>
        <div class="profile-grid-item" id="account-info">
            <div style="display: flex;">
                <h1 [ngClass]="{'has-broom': user?.hasBroom}">{{user?.Username}}</h1>
                <img *ngIf="user?.hasBroom" src="src/app/icons/crown.svg" class="icon">
            </div>
            
            <p>{{user?.Status}}</p>
            <h3>Joined on {{user?.JoinDate}}</h3>
            <p>{{user?.Bio}}</p>
        </div>
        
    </div>

    <div *ngIf="currentUser?.hasBroom">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <button
                (click)="togglePosting(user._id)"
            >
                {{ user?.canPost ? 'Ban from posting' : 'Allow to post' }}
            </button>
            <button>
                Give broom
            </button>
            <button>
                Sponsor
            </button>
        </div>
    </div>

    <div class="user-post-container">
        <div class="user-post-info">
            <h2>Posts: {{user?.Posts?.length}}</h2>
            <h2>Reaction Score: {{reactionScore}}</h2>
        </div>
    </div>

    <div class="user-tabs-container">
        <div class="user-tabs-buttons">
            <div [ngClass]="{ 'tab-selected': wallOpen }">
                <h3
                    (click)="openWall()"
                >
                    Wall
                </h3>
            </div>
            <div [ngClass]="{ 'tab-selected': wishlistOpen }">
                <h3
                    (click)="openWishlist()"
                >
                    Wishlist
                </h3>
            </div>
            <div [ngClass]="{ 'tab-selected': userPostsOpen }">
                <h3
                    (click)="openUserPosts()"
                >
                    Posts
                </h3>
            </div>
            <div [ngClass]="{ 'tab-selected': userPurchasesOpen }">
                <div *ngIf="currentUser?._id === user?._id">
                    <h3
                        (click)="openUserPurchases()"
                    >
                        Purchases
                    </h3>
                </div>
            </div>
        </div>
        <div [ngClass]="{ 'tab-open': wishlistOpen }" class="user-tab">
            <div class="profile-post-container">
                <app-product-card [wishlistItems]="wishlistItems" [secondItemType]="'wishlist'">
    
                </app-product-card>
            </div>
        </div>
    
        <div [ngClass]="{ 'tab-open': wallOpen }" class="user-tab">
            <div class="profile-post-container">
                <app-post [userProfileComments]="profileComments" [user]="user" [profileView]="true">
        
                </app-post>
            </div>
        </div>
    
        <div [ngClass]="{ 'tab-open': userPostsOpen }" class="user-tab">
            <div class="profile-post-container">
                <app-post [replies]="posts" [user]="user">
        
                </app-post>
            </div>
        </div>

        <div [ngClass]="{ 'tab-open': userPurchasesOpen }" class="user-tab">
            <div class="profile-post-container">
                <app-purchase-card [purchases]="userPurchases" [singlePurchase]="false" [profileView]="true">
        
                </app-purchase-card>
            </div>
        </div>
    </div>

    <h1 *ngIf="currentUser?._id === user?._id">
        Settings
    </h1>

    <div *ngIf="currentUser?._id === user?._id" class="user-settings">
        <div>
            <h2>
                Update bio:
            </h2>
            <form>
                <input
                    [(ngModel)]="updatedBio.newBio"
                    placeholder="New bio"
                    type="text"
                    name="newBio"
                    required
                >
            </form>
            <button
                (click)="updateBio()"
            >
                Update bio
            </button>
        </div>

        <div>
            <h2>
                Update status:
            </h2>
            <form>
                <input
                    [(ngModel)]="updatedStatus.newStatus"
                    placeholder="New status"
                    type="text"
                    name="newStatus"
                    required
                >
            </form>
            <button
                (click)="updateStatus()"
            >
                Update status
            </button>
        </div>
    </div>
</div>