@media screen and (max-width: 500px) {
    .user-settings {
        grid-template-columns: 1fr;
    }

    .user-tabs-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    app-post {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 501px) {
    .user-settings {
        grid-template-columns: 1fr 1fr;
    }

    .user-tabs-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    app-post {
        margin-left: 12%;
        margin-right: 12%;
    }
}


@media screen and (min-width: 769px) {
    .profile-grid {
      grid-template-columns: 1fr 1fr; 
      grid-gap: 20px
    }
  
    #account-info {
      text-align: left;
    }
  }
  

.has-broom {
    color: #F1D400;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.icon {
    fill: #F1D400;
}

.user-tab {
    display: none;
}

.tab-open {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-post-container {
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
}

.user-tabs-buttons {
    display: flex;
    height: 40px;

    h3 {
        margin-right: 5px;
        margin-left: 5px;
        line-height: 0%;
    }
}

.user-settings {
    display: grid;
}