$background-color-header: #E4C7FF;
$background-color-container: #DBB5FF;
$background-color-product: #CA90FF;
$background-color-body: #F6ECFF;
$options-container-color: #EDDAFF;
$table-color-1: #f1e6ff;
$table-color-2: #e4cfff;
$font: 'Fira Sans', sans-serif;
$button-color: #E4C7FF;
$tag-color: #C17EFF;
$border-width: 3px;
$border-color: black;