<nav-header-component>
        
</nav-header-component>

<div class="thread-main">
    <div class="thread-op-post">
        <div class="thread-details">
            <h2>{{ thread?.Title }}</h2>
            <h3>{{ thread?.Username}}</h3>
            <!--<p class="timestamp">{{ thread?.PostedAtDate }} at {{ thread?.PostedAtTime }}</p> -->
            <p>{{ thread?.ReplyCount }} replies</p>
        </div>
    
        <div class="thread-op-content" [ngClass]="{ 'highlighted-post': thread?.Highlighted }">
            <p>{{ thread?.Content }}</p>
            <div class="thread-options">
                <p>Score</p>
                <p *ngIf="isLoggedIn()">Reply</p>
                <p *ngIf="isLoggedIn()">Like</p>
                <p *ngIf="isLoggedIn()">Hate</p>
            </div>
        </div>
    </div>

    <div class="thread-replies">
        <div *ngFor="let reply of replies" class="thread-content">
            <div style="display: flex; flex-direction: row;" id="{{ reply.ReplyNumber }}">
                <h2
                    (click)="openProfile(reply.User)"
                >
                    {{ reply.Username }}
                </h2>
                <p>
                    #{{ reply.ReplyNumber }}
                </p>
            </div>
            <p class="timestamp">
                {{ reply.PostedAtDate }} at {{ reply.PostedAtTime }}
            </p>
            <div class="reply-content" [ngClass]="{ 'highlighted-post': reply.Highlighted }">
                <div style="display: flex; flex-direction: column;">
                    <p *ngIf="reply.PostBan === true" class="ban-message">
                        USER WAS BANNED FOR THIS POST
    
                    </p>
                    <p>
                        {{ reply.Content }} 
                    </p>
                </div>
                <div class="highlight-options">
                    <p *ngIf="reply.Highlighted" class="highlight-arrow"> << </p>
                    <p 
                    *ngIf="isJanitor"
                    class="highlight-button"
                    (click)="toggleHighlight(reply._id)"
                >
                    Highlight
                </p>
                    <p *ngIf="reply.Highlighted" class="highlight-arrow"> >> </p>
                </div>
            </div>
            <div class="thread-options">
                <p>Score</p>
                <p *ngIf="isLoggedIn()">Reply</p>
                <p *ngIf="isLoggedIn()"
                    (click)="likePost(reply._id)"
                >
                    Like ({{reply.LikedBy.length}})
                </p>
                <p *ngIf="isLoggedIn()"
                (click)="dislikePost(reply._id)"
                >
                    Hate ({{reply.DislikedBy.length}})
                </p>
                <p *ngIf="thread && thread?._id" (click)="openBanModal(reply.Username, thread._id, reply._id)">Ban user</p>
            </div>

            <div class="modal" *ngIf="modalOpen" >
                <div class="modal-content">
                    <span class="close" (click)="closeModal()">x</span>
                    <h2>Ban user</h2>
                    <div class="ban-form">
                        <form>
                            <h4>Reason:</h4>
                            <input
                                [(ngModel)]="banData.Reason"
                                name="Reason"
                                type="text"
                                required
                            >
                            <h4>Expires on</h4>
                            <input 
                                [(ngModel)]="banData.ExpiresOn"
                                name="ExpiresOn"
                                type="date"
                                required
                            >
                            <button
                                (click)="banUser(banData)"
                            >
                                Ban user
                            </button>
                        </form>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <div class="write-reply">
        <div *ngIf="isLoggedIn()">
            <div class="new-reply-container">
                <h2>Reply: </h2>
                <form>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="replyData.Content"
                            placeholder="Reply"
                            name="Content"
                            type="text"
                        >
                    </mat-form-field><br>
                    <button
                        (click)="postReply()"
                    >
                        Post
                    </button>
                </form>
            </div>
        </div>
        <div *ngIf="!isLoggedIn()">
            <p>Log in to post a reply.</p>
        </div>

    </div>

</div>