<nav-header-component>
        
</nav-header-component>

<div class="thread-main">
    <div class="thread-op-post">
        <div class="thread-details">
            <h2>{{ thread?.Title }}</h2>
            <!--<p class="timestamp">{{ thread?.PostedAtDate }} at {{ thread?.PostedAtTime }}</p> -->
            <p>{{ thread?.ReplyCount }} replies</p>
            <div class="op-details">
                <img src="{{ thread.User.ProfileImage }}">
                <h3
                    (click)="openProfile(thread.User._id)"
                >
                    {{ thread?.Username}}
                </h3>
            </div>
            
        </div>
    
        <div class="thread-op-content" [ngClass]="{ 'highlighted-post': thread?.Highlighted }">
            <p>{{ thread?.Content }}</p>
            <div class="thread-options">
                <p>Score</p>
                <p *ngIf="isLoggedIn()">Reply</p>
                <p *ngIf="isLoggedIn()">Like</p>
                <p *ngIf="isLoggedIn()">Hate</p>
            </div>
        </div>
    </div>

    <app-post [replies]="replies" [user]="user" [thread]="thread">

    </app-post>
</div>