$background-color-container: #e9f5ea;

.analytics-list {
    text-align: center;
}

.analytics-graph {
    width: 60%;
    margin: auto;
    background-color: white;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    border-style: solid;
}

.user-list {
    text-align: center;
    justify-content: center;
}

.order-dash {
    margin: 10px;
    align-items: center;
}

.order-container {
    background-color: white;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.order-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

.order-detail {
    text-align: left;
}

.order-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-table {
    align-items: center;
    justify-content: center;
    display: flex;

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }
}

table {
    background-color: white;
    border-style: solid;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }


.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

#status-Active {
    background-color: greenyellow;
    padding: 8px;
    border-radius: 5px;
}
@media screen and (max-width: 400px) {
    .order-image {
        width: 100px;
    }
    .order-container {
        margin: 8%;
    }
    .status-bar {
        flex-direction: column;
        margin: 10px;
    }

    .order-detail {
        text-align: center;
    }
    
}

@media screen and (min-width: 401px) and (max-width: 720px){
    .order-image {
        width: 150px;
    }
    .order-container {
        margin: 8%;
    }
    .status-bar {
        flex-direction: column;
        margin: 10px;
    }

    .order-detail {
        text-align: center;
    }

}

@media screen and (min-width: 721px){
    .order-image {
        width: 200px;
    }
    .order-container {
        margin: 5%;
    }
    .order-detail {
        margin-left: 20px;
    }
}