<div class="admin-panel-page">
    <nav-header-component>
        
    </nav-header-component>
    <div class="content-container">
        <div class="two-grid">
            <div>
                <h2>
                    Purchases
                </h2>
                <app-purchase-card [purchases]="purchases">

                </app-purchase-card>
            </div>
            <div>
                <h2>Users</h2>
                <div class="info-table">
                    <table>
                        <tr>
                            <th>Username</th>
                            <th>Admin</th>
                            <th>Sponsor</th>
                            <th>Delete</th>
                        </tr>
                        <tr *ngFor="let user of users">
                            <td>{{ user.Username }}</td>
                            <td
                                (click)="toggleAdmin(user._id)"
                            >
                                {{ user.hasBroom ? 'True' : 'False' }}
                            </td>
                            <td
                                (click)="toggleSponsor(user._id)"
                            >
                                {{ user.isSponsor ? 'True' : 'False' }}
                            </td>
                            <td
                                (click)="deleteOneUser(user._id)"
                            >
                                Delete
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
</div>
